<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite">
<test name = "Mashkur">
<!-- <classes>
<class name = "TestNGDemo.NewTest"/>
<class name = "TestNGDemo.NewTest2"/>
</classes> -->
<groups>
 
     <run>
 
  <include name="Scooter" />
 
     </run>
     </groups>
     <classes>
 
     <class name="TestNGDemo.NewTest4" />
 
 </classes>
</test>
</suite>